.footer {
  padding: 16px;
  @include md {
    background: linear-gradient(
      rgb(231, 231, 239) 0%,
      rgb(244, 244, 250) 5%,
      rgb(255, 255, 255) 10%
    );
  }

  &__wrapper {
    @include md {
      display: flex;
      width: 70.33%;
      margin: 19px auto 0;
      padding-right: 16px;
    }

    @include lg {
      display: flex;
      justify-content: center;
    }
  }

  &__nav {
    padding: 15px 0;
    margin-right: 16px;
    align-items: center;
    border-bottom: 1px solid $color-darkblue-light;
    @include md {
      flex: 1 1 0%;
      flex-direction: column;
      border: none;
    }
  }

  &__btn {
    display: block;
    width: $w-100;
    color: inherit;
    text-transform: uppercase;
    padding: 15px 0 15px 0;
    h4 {
      display: flex;
      justify-content: space-between;
      width: $w-100;
      i {
        @include md {
          display: none;
        }
      }
    }
  }

  input[type="checkbox"]:checked ~ ul.footer__menu {
    display: flex;
    flex-direction: column;
  }

  input[type="checkbox"]:checked + label h4 i.fas {
    transform: rotate(180deg);
  }

  &__menu {
    display: none;
    list-style: none;
    margin-top: 12px;
    align-items: flex-start;
    text-transform: capitalize;
    @include md {
      display: flex;
      flex-direction: column;
      font-size: 15px;
    }
  }

  &__menu-item {
    display: block;
    padding: 7px 0;
  }

  &__menu-link {
    display: block;
    margin-bottom: 8px;
    color: inherit;
  }

  &__btngroup {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    @include md {
      width: 28%;
    }
    .btn {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 15px;
      @include md {
        font-size: inherit;
      }
    }
  }

  .socials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 0 0;
    font-size: 13px;
    @include md {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 69.33%;
      margin: 0 auto;
      font-size: 12px;
    }

    span {
      display: inline-block;
      &:not(:last-of-type) {
        margin-bottom: 22px;
      }
      a {
        margin-right: 18px;
        color: $color-blue-primary;
      }

      @include md {
        &:not(:last-of-type) {
          margin-right: 22px;
        }
      }
    }

    .icons {
      display: flex;
      order: -1;
      margin-bottom: 22px;
      @include md {
        order: 2;
      }
      a {
        color: inherit;
        font-size: 17px;
        @include md {
          font-size: 14px;
        }
      }
      a:last-of-type {
        margin-right: 0;
      }
    }
  }
}
