// breakpoints
$screen-sm-min: 412px;
$screen-md-min: 768px;
$screen-lg-min: 1023px;
$screen-xl-min: 1280px;

// colors
$color-darkblue-primary: rgb(12, 11, 49);
$color-darkblue-light: rgba(12, 11, 49, 0.1);
$color-black: #000;
$color-blue-primary: #1242af;
$color-blue-dark: #062877;
$color-white: #fff;

// width
$w-100: 100%;
